{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Accordion Item #1
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                <code>.accordion-flush</code> class. This is the first item's accordion body.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Accordion Item #2
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta earum
                accusantium ullam dolor tempore officiis nemo magni quibusdam vel quos, modi laudantium aliquam sequi
                molestiae dolorem, facere quidem iure eos!
                Soluta debitis, et dolore reiciendis velit laborum accusamus eaque repellat voluptatibus unde porro,
                sequi voluptatem quas modi necessitatibus quod adipisci doloribus voluptate? Possimus quisquam harum
                nostrum sequi? Quod, amet assumenda?
                Repellendus quae deserunt culpa reiciendis minus cupiditate fugit quaerat vitae ut nobis obcaecati quis
                deleniti voluptates est distinctio quibusdam consequatur veritatis dolore provident, impedit maiores
                ipsum nihil doloremque? Similique, neque.
                Blanditiis, dolorum voluptates similique cum deserunt laboriosam culpa possimus rerum atque? Rem, itaque
                delectus! In aut enim, itaque tempora consequatur atque. Totam nam accusamus nemo rerum id doloribus
                consectetur omnis.
                Mollitia molestias hic dolorem neque minima recusandae sed? Aliquam, numquam sit commodi qui consectetur
                cumque cupiditate nesciunt, repellendus illo voluptatum deserunt velit, veniam error debitis aperiam
                architecto explicabo porro. Iure!
                Exercitationem quam at et alias? Nam placeat laboriosam exercitationem, delectus eum, doloremque minus
                doloribus consequuntur repudiandae natus voluptas libero necessitatibus animi dolor perferendis
                explicabo similique quas debitis expedita sint. Excepturi.
                Quos, dicta esse iste voluptate minima minus exercitationem natus repellendus officiis quas fugiat nam
                in nesciunt harum, aut, illum nulla culpa. In tempore, quibusdam omnis quasi pariatur cum consectetur.
                Magni.
                Mollitia suscipit consequatur neque est tempora animi doloribus ducimus ipsa quam vero quod, cumque,
                quaerat optio exercitationem eveniet nihil cupiditate voluptate. Sed corporis veritatis sequi iure totam
                nesciunt repellendus aliquam.
                Officia nulla illum aspernatur labore excepturi dolores aperiam neque, delectus enim quo magnam ipsa
                voluptatibus qui, deserunt quis ab porro totam. Debitis odit molestiae quo odio voluptates! Eos, illum
                error.
                Accusamus nemo aut distinctio exercitationem reprehenderit impedit molestias quisquam molestiae saepe
                natus aspernatur consectetur ex, quae rem ducimus cupiditate voluptate. Dignissimos vero consectetur
                quas! Et doloribus nesciunt laborum repellat corporis.</div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Accordion Item #3
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                happening here in terms of content, but just filling up the space to make it look, at least at first
                glance, a bit more representative of how this would look in a real-world application.
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

{% endblock %}