<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in formulario %}
    <div class="mb-3">
        <label for="" class="form-label">{{ campo.label }}:</label>

        {% if campo.field.widget.input_type == 'file' and campo.value %}

        <br>

        <img src="{{ MEDIA_URL }}/imagenes/{{ campo.value }}" alt="" width="100px" height="100px">

        <br> <br>

        {% endif %}

        <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}"
            id="{{ campo.name }}" aria-describedby="helpId" placeholder="{{ campo.label }}"
            value="{{ campo.value | default:'' }}">
    </div>
    <div class="col-12 help-text"> {{campo.errors}} </div>
    {% endfor %}

    <input name="" id="" class="btn btn-success" type="submit" value="Enviar">
    <a name="" id="" class="btn btn-primary" href="{% url 'libros' %}" role="button"><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg> Cancelar</a>
</form>